body {
    background-color: #000;
  color: white;
  font-size: large;
    margin: 0;
}
h1 {
  text-align: center;
  color:cyan;
  font-size: 55px;
}
label {
    font-size:xx-large;
    display: block;
    margin-bottom: 10px;
}
input {
  font-size: large;
  width: 100%;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
}
input[type="submit"] {
  background-color:crimson;
  align-self:center;
  width:100%;
  font-size: x-large;
  font-weight:bold;
  color:wheat;
  cursor: pointer;
}
a {
   text-align: center; 
  font-size: large;
    color:white;
  text-decoration:none;
}